{% extends 'base.html' %}
{% block title %}Battle Menu{% endblock title %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome To The Battle Menu!</h1>
        <p class="lead">Click On A Pokemon Below To Start.</p>
    </div>
</div>
<div class="card-deck ml-0 mr-0 mb-5">
    <div class="card">
        <a href="{{ url_for('gen_1') }}">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" class="bcard-img-top"
            alt="...">
        </a>
        <div class="card-body ">
            <h5 class="card-title">Random Player Vs Random CPU</h5>
            <p class="card-text">A randomly selected Pokemon is choosen for you and the computer in this battle.</p>
        </div>
    </div>
    <div class="card">
        <a href="{{ url_for('gen_1') }}">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" class="bcard-img-top"
            alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Selected Player Vs Random CPU</h5>
            <p class="card-text">A Pokemon of your choice battles a computer with a randomly selected Pokemon.</p>
        </div>
    </div>
    <div class="card">
        <a href="{{ url_for('gen_1') }}">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/149.png" class="bcard-img-top"
            alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Selected Player Vs Selected CPU</h5>
            <p class="card-text">You choose a Pokemon for you and the computer in this battle.</p>
        </div>
    </div>
</div>
{% endblock %}