body {
    background-color: rgb(42, 117, 187);
    margin: 0;
    padding: 0;
}

.card {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    border-radius: 40px;
}

.navbar {
    background-color:rgb(255, 203, 5);
    font-size: large;
    text-shadow: 1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 1.5px white;
}

.signinimg{
    margin-top: 7%;
    width:324px;
    height: 120px;
}

#signin{
    margin-left: 2vw;
}

#signedin{
    margin-left: 53vw;
}

.bcard-img-top{
    width: 400px;
    height: 450px;
}