body {
    background-color: rgb(81, 140, 202);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(247, 143, 63);
    text-shadow: 1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 1.5px white;
}

.navbar-brand {
    font-size: 23px;
}

