{% extends 'components/layout.html' %}

{% block content %}
<div class="card-deck">
    <div class="card">
      <img src={{ poke_list['Bulbasaur'].pic }} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ poke_list['Bulbasaur'].name }}</h5>
        <p class="card-text">Type: {{ poke_list['Bulbasaur'].type }}  </p>
        <p class="card-text">Abilities: {{ poke_list['Bulbasaur'].ability }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Abili{{ poke_list['Bulbasaur'].weight }} lbs</small>
      </div>
    </div>
    <div class="card">
      <img src= {{ poke_list['Ivysaur'].pic }} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ poke_list['Ivysaur'].name }}</h5>
        <p class="card-text">Type: {{ poke_list['Ivysaur'].type }}  </p>
        <p class="card-text">Abilities: {{ poke_list['Ivysaur'].ability }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ poke_list['Ivysaur'].weight }} lbs</small>
      </div>
    </div>
    <div class="card">
      <img src={{ poke_list['Venusaur'].pic }} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ poke_list['Venusaur'].name }}</h5>
        <p class="card-text">Type: {{ poke_list['Venusaur'].type }}  </p>
        <p class="card-text">Abilities: {{ poke_list['Venusaur'].ability }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ poke_list['Venusaur'].weight }} lbs</small>
      </div>
    </div>
  </div>
{% endblock content %}