{% extends 'components/layout.html' %}

{% block content %}
<div class="card-deck">
    <div class="card">
      <img src={{ poke_list['Charmander'].pic }} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ poke_list['Charmander'].name }}</h5>
        <p class="card-text">Type: {{ poke_list['Charmander'].type }} </p>
        <p class="card-text">Abilities: {{ poke_list['Charmander'].ability }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ poke_list['Charmander'].weight }} lbs</small>
      </div>
    </div>
    <div class="card">
      <img src= {{ poke_list['Charmeleon'].pic }} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ poke_list['Charmeleon'].name }}</h5>
        <p class="card-text">Type: {{ poke_list['Charmeleon'].type }} </p>
        <p class="card-text">Abilities: {{ poke_list['Charmeleon'].ability }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ poke_list['Charmeleon'].weight }} lbs</small>
      </div>
    </div>
    <div class="card">
      <img src={{ poke_list['Charizard'].pic }} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ poke_list['Charizard'].name }}</h5>
        <p class="card-text"> Type: {{ poke_list['Charizard'].type }}  </p>
        <p class="card-text">Abilities: {{ poke_list['Charizard'].ability }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ poke_list['Charizard'].weight }} lbs</small>
      </div>
    </div>
  </div>
{% endblock content %}