{% extends 'components/layout.html' %}
{% block title %}Gen - 3{% endblock title %}
{% block content %}
{% for n in range(252,255) %}
<div class="card-deck">
  <div class="card">
    <img src={{ poke_list[n].pic }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ poke_list[n].name }}</h5>
      <p class="card-text">Type: {% for i in poke_list[n].type %} {{ i }} {% endfor %}</p>
      <p class="card-text">Abilities: {% for i in poke_list[n].ability %} {{ i }} {% endfor %}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ poke_list[n].weight }} lbs</small>
    </div>
  </div>
  <div class="card">
    <img src={{ poke_list[n+3].pic }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ poke_list[n+3].name }}</h5>
      <p class="card-text">Type: {% for i in poke_list[n].type %} {{ i }} {% endfor %}</p>
      <p class="card-text">Abilities: {% for i in poke_list[n].ability %} {{ i }} {% endfor %}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ poke_list[n+3].weight }} lbs</small>
    </div>
  </div>
  <div class="card">
    <img src={{ poke_list[n+6].pic }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ poke_list[n+6].name }}</h5>
      <p class="card-text">Type: {% for i in poke_list[n].type %} {{ i }} {% endfor %}</p>
      <p class="card-text">Abilities: {% for i in poke_list[n].ability %} {{ i }} {% endfor %}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ poke_list[n+6].weight }} lbs</small>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}